{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "WriteLogStreams",
      "Effect": "Allow",
      "Action": [
        "logs:CreateLogStream",
        "logs:DescribeLogStreams",
        "logs:PutLogEvents"
      ],
      "Resource": ${jsonencode(log_group_resources)}
    },
    {
      "Sid": "ReadLogStreams",
      "Effect": "Allow",
      "Action": [
        "logs:FilterLogEvents",
        "logs:GetLogEvents"
      ],
      "Resource": ${jsonencode(log_group_resources)}
    },
    {
      "Sid": "ReadLogArchives",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:GetObject"
      ],
      "Resource": ${jsonencode(log_archive_resources)}
    }
  ]
}
